<span id="tipsy">
<span xmlns:dc="http://purl.org/dc/elements/1.1/"      xmlns:foaf="http://xmlns.com/foaf/0.1/"      xmlns:pmt="http://tipsy.googlecode.com/svn/trunk/vocab/pmt#"      about="<%= organization_url %>">     <a href="<%= website_url %>" rel="dc:creator"></a>
    <meta property="rdfs:label" content="<%= organization_name %>" /></span><span xmlns:pmt="http://tipsy.googlecode.com/svn/trunk/vocab/pmt#"      about="<%= payment_url %>" typeof="pmt:Document">     <a href="<%= payment_url %>#mypaypalaccount" rel="pmt:hasPaymentMethod"></a></span><span xmlns:pmt="http://tipsy.googlecode.com/svn/trunk/vocab/pmt#"      about="<%= payment_url %>#mypaypalaccount" typeof="pmt:PayPal">    <a href="mailto:<%= paypal_email %>" rel="pmt:username"> </a></span>
</span>
